@using DanismaSira.Models.ViewModels;
@model DepartmentListVM;
@{
    ViewData["Title"] = "Index";

}

<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Birim Listesi</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-action="CreateDepartment"><i class="fas fa-plus"></i> &nbsp; Yeni Birim Oluştur</a>
    </div>
</div>
<div class="card mb-4 mt-2">
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Departman Adı</th>
                        <th>Departman Açıklaması</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Department in Model.Departments)
                    {
                        <tr>
                            <td>@Department.departmentName</td>
                            <td>@Department.departmentDescription</td>
                            <td>
                                <a class="btn btn-sm btn-danger" asp-controller="Department" asp-action="DeleteDepartment" asp-route-id="@Department.departmentId" onclick="return confirm('Bu birimi silmek istediğinize emin misiniz?')">Sil</a>
                                
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
